@import url("https://fonts.googleapis.com/css?family=Exo:400,700");

* {
  margin: 0px;
  padding: 0px;
  color: var(--fiftycolor);
}

ul {
  list-style: none;
}

body {
  font-family: "Exo", sans-serif;
}

.area {
  z-index: -1;
  background-color: var(--primarycolor);
  width: 100%;
  height: 5vh;
  padding-top: 10px;
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  overflow: hidden;
  
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: var(--fourtercolor);
  animation: animate 15s linear infinite;
  border-radius: 100%;

}

.circles li:nth-child(1) {
  left: 5%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: -5%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
}
.circles li:nth-child(3) {
  left: 35%;
  bottom: 35px;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(4) {
  left: -35%;
  bottom: 35px;
  width: 30px;
  height: 30px;
  animation-delay: 0s;
}

.circles li:nth-child(5) {
  left: 80%;
  bottom: 15px;
  width: 45px;
  height: 45px;
  animation-delay: 0s;
}
.circles li:nth-child(6) {
  left: -80%;

  width: 65px;
  height: 65px;
  animation-delay: 0s;
}

.circles li:nth-child(7) {
  left: 90%;

  width: 88px;
  height: 88px;
  animation-delay: 0s;
}

.circles li:nth-child(8) {
  left: -90%;

  width: 24px;
  height: 24px;
  animation-delay: 0s;
}
.circles li:nth-child(9) {
  left: 50%;

  width: 35px;
  height: 35px;
  animation-delay: 0s;
}
.circles li:nth-child(10) {
  left: -50%;
  width: 37px;
  height: 37px;
  animation-delay: 0s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 0;
    margin-left: 0;
    transform: scale(0.8);
  }

  50% {
    transform: translateY(0) rotate(360deg);
    opacity: 1;
    margin-left: 200%;
    transform: scale(1);

  }
  100% {
    transform: translateY(0) rotate(360deg);
    opacity: 0;
    margin-left: 200%;
    transform: scale(0.8);

  }
}

.wrapper {
  
  z-index: 1;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.personal-info {
  display: flex;
  flex-direction: column;
  text-shadow: 1px 1px 2px var(--primarycolor);
  transition: 1s;

}

.menu {
  z-index: 1;
  display: flex;
  gap: 10px;
  text-shadow: var(--primarycolor) 1px 0 10px;
  transition: 1s;
}

.menu > li {
  transition: 0.5s;
}
.menu > li:hover {
  transition: 0.4s;
  text-shadow: 10px 10px 20px var(--primarycolor);
  color: var(--terciarycolor);
  cursor: pointer;
  font-size: 23px;
  border-top: 1px solid var(--fiftycolor);
}

@media screen and (max-width: 600px) {
  .menu {
    z-index: 5;
    font-size: 1em;
  }

  .wrapper {
    flex-direction: column;
    justify-content: center;
  }
  .personal-info {
    font-size: 1em;

    transition: 1s;
    text-align: center;
  }
}
