.wrapper-form {
  display: flex;
  flex-direction: column;
  background-color: #CBC3E3;
  padding: 10px;
  background-color: light;
  margin: 10px;
  border-radius: 8px;
  box-shadow: 10px 5px 5px black;
  justify-content: center;
  align-items: center;
}

.wrapper-inputs {
  display: flex;
  flex-direction: column;
}
